
.card{
    
    background-color: #f1f1f1;
      margin: 20px;
      margin-bottom: 0;
      margin-top: 10px;
      height: auto;
      border-radius: 10px;
    opacity: 0.7;
    font-size: 10pt;
    
    }

/* 
@media (max-width:768px){
    .flex-container:hover{
        display:flex;
        flex-wrap: wrap;
        
    }
    
    .card:hover{

      width: 100%;
      
    }
}

@media all and (min-width:1024px){
    .flex-container:hover{
       display:flex;
       flex-wrap: nowrap;
        
    }   
    .card:hover{
      width: 25%;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .flex-container:hover{
        display:flex;
        flex-wrap: wrap;
        
    }
    
    .card:hover{ 
      width: 33%;
    
    }
} */
/*
.card:hover{
    -webkit-box-shadow: -2px 0px 27px 25px rgba(254,255,235,0.69);
    -moz-box-shadow: -2px 0px 27px 25px rgba(254,255,235,0.69);
    box-shadow: -2px 0px 27px 25px rgba(254,255,235,0.69);
cursor: pointer;
color:black;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;

} */